<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>W Drodze: {{ fullName this }}</title>
    <!--build:cssRe-->
    <link rel="stylesheet" href="../../css/main.css">
    <!--endbuild-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108818656-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-108818656-1');
    </script>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <a href="../../">
                <h1>W Drodze...</h1>
                <p class="header__subtitle">cykl autorskich wystaw zbiorowych Danuty Joppek</p>
            </a>
        </header>
        <main class="main">
            <article class="artist-description">
                <header>
                    <h2>{{ fullName this }}</h2>
                </header>
                {{{ contents }}}</article>
            <aside class="artist-details">
                {{#if photo}}
                    <div class="artist-details__photo">
                        <a href="img/photo.jpg">
                            <img src="img/photo.jpg" alt="{{fullName this}}">
                        </a>
                    </div>
                {{/if}}
                {{#if links}}
                    <h3>Kontakt</h3>
                    <ul class="artist-details__links">
                        {{#each links}}
                            <li>
                                <a href="{{this}}">{{@key}}</a>
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
            </aside>
        </main>
        <footer class="footer">
            <a href="../../">Wróć do strony głównej</a>
            <small>Marek Sładczyk 2017</small>
        </footer>
    </div>
</body>

</html>