<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>W Drodze</title>
    <!--build:css css/styles.min.css-->
    <link rel="stylesheet" href="css/main.css">
    <!--endbuild-->
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <a href="#">
                <h1>W Drodze...</h1>
                <p>cykl autorskich wystaw zbiorowych Danuty Joppek</p>
            </a>
        </header>
        <main class="main">
            <article class="latest-event">
                <header>
                    <h2>Najnowsze spotkanie</h2>
                    {{#with pages.[0]}}
                    <a href="{{ url }}">
                        <p class="latest-event__title">{{ title }}</p>
                        <p class="latest-event__date">{{#if date}}
                            <time datetime="{{ date.start }}">{{ date.start }}</time>
                            {{else}}Brak daty{{/if}}</p>
                    </a>
                </header>{{{ contents }}} {{#if artists}}
                <h3>Artyści</h3>
                <ul class="latest-event__artists">
                    {{#each artists}}
                    <li>{{#if this.page}}<a href="artists/{{this.page}}">{{this.name}}</a>{{else}}{{this.name}}{{/if}}</li>
                    {{/each}}
                </ul>
                {{/if}} {{/with}}
            </article>
            <aside class="previous-events">
                <h2>Poprzednie spotkania</h2>
                <ul class="previous-events__list">
                    {{#each pages }} {{#unless @first}}
                    <li><a class="previous-events__link" href="{{ url }}">
                        <span>{{ title }}</span><span class="previous-events__date">{{#if date}}<time datetime="{{ date }}">{{date}}</time>{{else}}Brak daty{{/if}}</span>
                        </a>
                        <p class="previous-events__excerpt">{{ excerpt }}</p>
                    </li>
                    {{/unless}} {{/each}}
                </ul>
            </aside>
        </main>
        <footer class="footer"><small>Marek Sładczyk 2017</small></footer>
    </div>
    <!--build:js js/script.min.js -->
    <script src="js/main.js"></script>
    <!-- endbuild -->
</body>

</html>