<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>W drodze</title>
    <!--build:css css/styles.min.css-->
    <link rel="stylesheet" href="css/main.css">
    <!--endbuild-->
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <a href="#">
                <h1>W Drodze</h1>
            </a>
        </header>
        <main class="main">
            <article class="latest-event">
                <header>
                    <h2>Najnowsze wydarzenie</h2>
                    {{#with pages.[0]}}
                    <a href="{{ url }}">{{ title }}</a>
                    <p>{{#if date}}
                        <time datetime="{{ date }}">{{ date }}</time>
                        {{else}}Brak daty{{/if}}</p>
                </header>{{{ contents }}} {{#if artists}}
                <h3>Artyści</h3>
                <ul class="latest-event__artists">
                    {{#each artists}}
                    <li>{{!--<a href="artists/{{#encodeURI}}{{this}}{{/encodeURI}}.html"> --}}{{this}}{{!..</a>--}}</li>
                    {{/each}}
                </ul>
                {{/if}} {{/with}}
            </article>
            <aside class="previous-events">
                <h2>Poprzednie wydarzenia</h2>
                <ul class="previous-events__list">
                    {{#each pages }} {{#unless @first}}
                    <li><a class="previous-events__link" href="{{ url }}">
                        <span>{{ title }}</span><span>{{#if date}}{{date}}{{else}}Brak daty{{/if}}</span>
                        </a>
                    </li>
                    {{/unless}} {{/each}}
                </ul>
            </aside>
        </main>
        <footer class="footer"><small>Marek Sładczyk 2017</small></footer>
    </div>
    <!--build:js js/script.min.js -->
    <script src="js/main.js"></script>
    <!-- endbuild -->
</body>

</html>