<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>W Drodze: {{ title }}</title>
    <!--build:css css/styles.min.css-->
    <link rel="stylesheet" href="../css/main.css">
    <!--endbuild-->
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <a href="../">
                <h1>W Drodze</h1>
            </a>
        </header>
        <main class="main">
            <article class="page-event">
                <header>
                    <h2>{{ title }}</h2>
                    {{#if subtitle}}
                    <p class="page-event__subtitle">{{ subtitle }}</p>{{/if}}
                    <p class="page-event__date">{{#if date}}
                        <time datetime="{{ date }}">{{ date }}</time>{{else}}Brak daty{{/if}}</p>
                </header>
                {{{ contents }}} {{#if artists}}
                <h3>Artyści</h3>
                <ul class="artists">
                    {{#each artists}}
                    <li>{{!--<a href="artists/{{#encodeURI}}{{this}}{{/encodeURI}}.html"> --}}{{this}}{{!..</a>--}}</li>
                    {{/each}}
                </ul>
                {{/if}}</article>
        </main>
        <footer class="footer"><a href="../">Wróć do strony głównej</a><small>Marek Sładczyk 2017</small></footer>
    </div>
</body>

</html>