<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>W drodze: {{ title }}</title>
    <!--build:cssRe-->
    <link rel="stylesheet" href="../css/main.css">
    <!--endbuild-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108818656-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-108818656-1');
    </script>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <a href="../">
                <h1>W drodze...</h1>
                <p class="header__subtitle">cykl autorskich wystaw zbiorowych Danuty Joppek</p>
            </a>
        </header>
        <main class="main">
            <article class="event-details">
                <header>
                    <h2 id="tytul">{{ title }} - {{location.city}}</h2>
                    {{#if subtitle}}
                        <p class="event-details__subtitle">{{ subtitle }}</p>
                    {{/if}}
                    <p class="event-details__date">
                        {{#if date}}
                            <time datetime="{{ date.start }}">{{ date.start }}</time>
                        {{else}}Brak daty{{/if}}
                    </p>
                </header>
                {{{ contents }}}
                {{#if artists}}
                    <h3 id="artysci">Artyści</h3>
                    <ul>
                        {{#each artists}}
                            <li>
                                {{#if this.page}}
                                    <a href="../artists/{{this.page}}/">{{this.name}}</a>
                                {{else}}{{this.name}}{{/if}}
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
            </article>
            <aside class="event-artists">
                {{#if location}}
                    <h3>Miejsce</h3>
                    {{#if location.link}}
                        <a class="event-details__link" href="{{location.link}}">
                    {{/if}}
                    {{#if location.logo}}
                        <img class="event-details__logo" src="../img/{{location.logo}}" alt="{{location.name}}" title="{{location.name}}">
                    {{else}}
                        <p>{{location.name}}</p>
                    {{/if}}
                    {{#if location.link}}
                        </a><h4>Adres</h4><a href="https://www.google.com/maps/search/?api=1&query={{{address_google location.address}}}">{{{address location.address}}}</a>
                    {{/if}}
                {{/if}}
                {{#if sponsors}}
                    <h3>Patronat</h3>
                    <ul class="event-details__sponsors">
                        {{#each sponsors}}
                            <li>
                                {{#if this.link}}
                                    <a class="event-details__link" href="{{this.link}}">
                                {{/if}}
                                {{#if this.logo}}
                                    <img class="event-details__logo" src="../img/{{this.logo}}" alt="{{this.name}}" title="{{this.name}}">
                                {{else}}{{this.name}}
                                {{/if}}
                                {{#if this.link}}
                                    </a>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
            </aside>
        </main>
        <footer class="footer">
            <a href="../">Wróć do strony głównej</a>
            <small>Marek Sładczyk 2017</small>
        </footer>
    </div>
</body>

</html>